<a href="https://colab.research.google.com/github/ranamaddy/Machine-learning-course/blob/main/5_SET_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets

-> A set is an unordered collection of items. Every element is unique (no duplicates).

-> The set itself is mutable. We can add or remove items from it.

-> Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

# Set Creation

In [5]:
#set of integers
s = {1, 2, 3,2}
print(s)

#print type of s
print(type(s))

{1, 2, 3}
<class 'set'>

In [8]:
#set doesn't allow duplicates. They store only one instance.
s = {1, 2, 3, 1,5, 4,3.5}
print(s)

{1, 2, 3, 4, 5, 3.5}

In [11]:
#we can make set from a list
lst =[1, 2, 3, 1]
s = set(lst)
print(s)
type(lst)

{1, 2, 3}

list

In [14]:
#initialize a set  with set() method
s = set()
print(len(s))
print(type(s))

0
<class 'set'>

# Add element to a Set

In [ ]:
#we can add single element using add() method and
#add multiple elements using update() method
s = {1, 3}

#set object doesn't support indexing
print(s[1]) #will get TypeError

In [17]:
#add element
s.add(2)
s.add(6)

print(s)

{1, 2, 3, 6}

In [19]:
#add multiple elements
s.update([5, 6, 1])
print(s)

{1, 3, 5, 6}

In [20]:
s.add(4)
s.add(9)
s.add(0)

print(s)

{0, 1, 3, 4, 5, 6, 9}

In [21]:
#add list and set
s.update([8, 9], {10, 2, 3})
print(s)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10}

# Remove elements from a Set

In [27]:
#A particular item can be removed from set using methods,
#discard() and remove().

s = {1, 2, 3, 5, 4}
print(s)

s.discard(9)    #4 is removed from set s

print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [28]:
#remove an element
s.remove(2)

print(s)

{1, 3, 4, 5}

In [29]:
#remove an element not present in a set s
s.remove(7) # will get KeyError

KeyError: 7

In [30]:
#discard an element not present in a set s
s.discard(7)
print(s)

{1, 3, 4, 5}

In [32]:
#we can remove item using pop() method

s = {1, 2, 3, 5, 4}

s.pop() #remove random element
print(s)

{2, 3, 4, 5}

In [33]:

s.pop() #remove random element


print(s)

{3, 4, 5}

In [34]:
s.pop()
print(s)

{4, 5}

In [35]:
s = {1, 5, 2, 3, 6}

s.clear()   #remove all items in set using clear() method

print(s)

set()

# Python Set Operations

In [36]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#union of 2 sets using | operator

print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7}

In [37]:
#another way of getting union of 2 sets
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [38]:
#intersection of 2 sets using & operator
print(set1 & set2)

{3, 4, 5}

In [20]:
#use intersection function
print(set1.intersection(set2))

{3, 4, 5}

In [39]:
#set Difference: set of elements that are only in set1 but not in set2

print(set1 - set2)

{1, 2}

In [ ]:
#use differnce function
print(set1.difference(set2))

{1, 2}

In [41]:
"""symmetric difference: set of elements in both set1 and set2
#except those that are common in both."""

#use ^ operator

print(set1^set2)

{1, 2, 6, 7}

In [42]:
#use symmetric_difference function
print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

In [43]:
#find issubset()
x = {"a","b","c","d","e"}
y = {"c","d"}

print("set 'x' is subset of 'y' ?", x.issubset(y)) #check x is subset of y

#check y is subset of x
print("set 'y' is subset of 'x' ?", y.issubset(x))

set 'x' is subset of 'y' ? False
set 'y' is subset of 'x' ? True

# Frozen Sets

Frozen sets has the characteristics of sets, but we can't be changed once it's assigned. While tuple are immutable lists, frozen sets are immutable sets

Frozensets can be created using the function frozenset()

Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.

This datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable it does not have method that add or remove elements.

In [44]:
set1 = frozenset([1, 2, 3, 4])
set2 = frozenset([3, 4, 5, 6])

#try to add element into set1 gives an error
set1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
print(set1[1]) # frozen set doesn't support indexing

TypeError: 'frozenset' object does not support indexing

In [ ]:
print(set1 | set2) #union of 2 sets

frozenset({1, 2, 3, 4, 5, 6})

In [ ]:
#intersection of two sets
print(set1 & set2)

#or
print(set1.intersection(set2))

frozenset({3, 4})
frozenset({3, 4})

In [ ]:
#symmetric difference
print(set1 ^ set2)

#or
print(set1.symmetric_difference(set2))

frozenset({1, 2, 5, 6})
frozenset({1, 2, 5, 6})